# A T6SS+ lethal strain competing with a nonlethal strain that does not fire any T6SS attacks,
# in a range expansion.
#
# periodicity in x, y directions
x_periodic 1
y_periodic 1

# simulation domain sizes
xy_bounds -1300. 1300. -1300. 1300.

# simulation grid dimensions
# i.e. number of blocks to divide the domain into
grid_dims 650 650

# time step size
dt 0.001

# total simulation duration
T 24

# number of frames to output
frames 240

# number of realizations
realization 1

# growth rate of strain 1 and 2
double_times 0.65 0.65
lysis_times  0.17  0.17
# noise in the cell division time
sigma_ts 0.02 0.02
# noise in initial cell length
sigma_l 0.1
# factors that limit growth and sheath production:
# 0 - None
# 2 - Crowdedness
growth_factor 2
sheath_factor 0
# a parameter that controls how internal forces due to crowdedness impedes growth
stop_frac 0.005

# initialization type 0-circular region; 1-square region; 2-a line
init_type 0

# number of bacteria in initialzation
init_num_bac 10000

# init region size (radius of a circle, or half length of a square or line)
init_region_size 646

# average init length of the bacteria
init_lens 4 4


# non-outputing solve to reach this number of bacteria
target_tb 1
# maximum time allowed for this solve
wall_time_max 18000

# initial probability of type 0 bacteria
# the probability of type 1 is 1-prob_type0
prob_type0 0.5

# non-dimensional parameters that controls damping and elastic forces
Edamp 10
damp 100

# other system configuration
seed 490719372
output_all 1

# T6SS configuration
init_prob_on 0. 0.
cost_coeff 0.005
sheath_rates 21 21
fire_rates   7 0
init_mean_sheaths 3 0
rate_on  0.25 0
